/*
	General properties for all files
*/
body 
{
	margin: 0px;
	padding: 0px;
	background-color: #DDDDDD;
	font-family: Arial, Helvetica, sans-serif;	
}

#page-container
{
	width:770px;
	margin: 20px auto;
	padding: 20px;
	background-color: #FFFFFF;
}

h1
{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 140%;
}

h2
{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 110%;
	color: #222;
}

#header
{
	height: 90px;
	clear: both;
}

#footer
{	
	height: 30px;
	text-align: center;
	vertical-align: middle;
	clear: both;
}

.floatfix
{
	clear:both;
}

/*
 *	Main control panel styles 
 */
#newjob
{
	
}

#newjob-ul
{
	float:left;
	width: 50%;		
	line-height: 120%;
}

#newjob-ur
{
	float:left;
	margin-left: 100px;
}

#allformatlist
{
	background:#FFF;
}

#format-buttons
{
	float:left;
	padding-top: 25px;
}

.formats-box
{
	width:230px;
	float:left;
	border: solid 1px #222;
	
	margin: 5px;	
}

.button
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.box-title
{
	background: #666;
	color: #FFFFFF;
	
	padding-left: 10px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.box-list
{
	width: 100%;
	border: none;
}

.newjob-labels
{	
	margin-right: 5px;
	margin-left: 5px;
	
	padding-bottom: 3px;
	padding-top: 3px;
	
	width: 150px;
	
	float:left;
	text-align:right;
}

.newjob-select
{
	width: 200px;	
	
	margin-bottom: 2px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

.encode-button-box
{
	width:100%;
	clear:both;
	text-align:right;
}

.encode-button
{
	margin-right:90px;
}

.job-table
{
	margin-top: 40px;
	padding-left: 15px;
	width:100%;
	border: solid 1px;
	text-align: left;
}


/*
 * Format editor styles
 */

h3
{
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 90%;
}

#response
{
	display: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin-bottom: 15px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.error-response
{
	background-color: #FFDDDD;
}

.success-response
{
	background-color: #DDFFDD;
}

.format-labels
{
	width: 300px;
	text-align: right;
	
	padding-right: 5px;
	padding-left: 5px;

	line-height: 20px;
	vertical-align: middle;

	text-size: 90%;
	
	clear: left;
	float: left;
}

.format-boxes
{
	width: 300px;
	height: 20px;
	
	padding-left:5px;
	padding-right:5px;
	
	float:left;
	clear:right;
}

.format-textbox
{
	width:200px;
}

.format-submit
{
	text-align: right;
	
	margin-top: 15px;
	margin-bottom: 15px;
	
	padding-left: 200px;
	padding-right: 200px;
}
