body 
{
	margin: 0px;
	padding: 0px;
	background-color: #DDDDDD;
	
	font-family: Arial, Helvetica, sans-serif;	
}

#page-container
{
	width:770px;
	margin: 20px auto;
	padding: 20px;
	background-color: #FFFFFF;
}

h1
{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 140%;
}

#header
{
	height: 90px;
	clear: both;
}

#footer
{	
	height: 30px;
	text-align: center;
	vertical-align: middle;
	clear: both;
}

#newjob
{
	
}

#newjob-ul
{
	float:left;
	width: 50%;
		
	line-height: 120%;
}

#newjob-ur
{
	float:left;
	margin-left: 100px;
}

#allformatlist
{
	background:#FFF;
}

#format-buttons
{
	float:left;
	padding-top: 25px;
}

.formats-box
{
	width:230px;
	float:left;
	border: solid 1px #222;
	
	margin: 5px;	
}

.button
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.box-title
{
	background: #666;
	color: #FFFFFF;
	
	padding-left: 10px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.box-list
{
	width: 100%;
	border: none;
}

.newjob-labels
{	
	margin-right: 5px;
	margin-left: 5px;
	
	padding-bottom: 3px;
	padding-top: 3px;
	
	width: 150px;
	
	float:left;
	text-align:right;
}

.newjob-select
{
	width: 200px;	
	
	margin-bottom: 2px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

.encode-button-box
{
	width:100%;
	clear:both;
	text-align:right;
}

.encode-button
{
	margin-right:90px;
}

.job-table
{
	margin-top: 40px;
	
	width:100%;
	border: solid 1px;
	
	text-align: left;
	padding-left: 15px;
}

.floatfix
{
	clear:both;
}
